body{
    display: flex;
    justify-content: center;
}

.grid {
	display: grid;
	grid-template-columns:repeat(5, 400px);
	grid-auto-rows: 200px;
}

.grid-area-1 .item-1 {
    grid-area: 1 / 1;
    background-image: url(fundo\ 5.jpg);
    background-size: cover;
    background-position: center;
}

.grid-area-1 .item-2 {
    grid-area: 1 / 2 / span 1 / span 3;
    background-image: url(fundo\ 9.jpg);
    background-size: cover;
    background-position: center;
}

.grid-area-1 .item-3 {
    grid-area: 1 / 5 / span 3 / span 1;
    background-image: url(fundo\ 4.jpg);
    background-size: cover;
    background-position: center;
}

.grid-area-1 .item-4 {
    grid-area: 2 / 1 / span 1 / span 2;
    background-image: url(fundo\ 3.jpg);
    background-size: cover;
    background-position: center;
}

.grid-area-1 .item-5 {
    grid-area: 2 / 3 / span 2 / span 2;
    background-image: url(fundo\ 10.jpg);
    background-size: cover;
    background-position: center;
}

.grid-area-1 .item-6 {
    grid-area: 3 / 1 / span 3 / span 2;
    background-image: url(fundo\ 6.jpg);
    background-size: cover;
    background-position: center;
}

.grid-area-1 .item-7 {
    grid-area: 4 / 3 / span 2 / span 3;
    background-image: url(fundo\ 7.jpg);
    background-size: cover;
    background-position: center;
}

.grid-area-1 .item-8 {
    grid-area: 6 / 1 / span 2 / span 1;
    background-image: url(fundo\ 2.jpg);
    background-size: cover;
    background-position: center;
}

.grid-area-1 .item-9 {
    grid-area: 6 / 2 / span 2 / span 4;
    background-image: url(fundo\ 8.jpg);
    background-size: cover;
    background-position: center;
}

.grid-area-1 .item-10 {
    grid-area: 8 / 1 / span 1 / span 5;
    background-image: url(fundo\ 1.jpg);
    background-size: cover;
    background-position: center;
}

.item {
	margin: 5px;
}